<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <script defer type = "text/javascript" th:src="@{/static/script.js}"></script>
    <script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/form}" th:object="${form}" method="post" onsubmit="return checkData();">
    <p>Numero 1: <input type="number" id="num1" th:field="*{val1}"  required/></p>
    <p>Numero 2: <input type="number" id="num2" th:field="*{val2}" required/></p>
    <p>Name <input type="text" id="name" th:field="*{name}" /></p>
    <p>Surname <input type="text" id="surname" th:field="*{surname}" /></p>
    <p>Email <input type="text" id="email" th:field="*{email}" /></p>
    <p>State <input type="text" id="state" th:field="*{state}" /></p>
    <p>Province <input type="text" id="province" th:field="*{province}" /></p>
    <p>City <input type="text" id="city" th:field="*{city}" /></p>
    <p>Address<input type="text" id="address" th:field="*{address}" /></p>
    <p>Comment <input type="text" id="comment" th:field="*{comment}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

<button onclick="calcAvg()">Avg</button>

<p>La media di tutti i numeri inseriti e': </p> <p id="avg"></p>
<p id="result"></p> <br>

<a href="/listNumDb" >Show all numbers</a>

</body>
</html>